@media (max-width: 450px)  {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .song-title {
    font-size: 20px;
  }
  .verse span {
    font-size: 14px;
  }
}