body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e9eff4;
  margin: 20px;
  color: #333;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5a8fce;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.clipboard-prompt {
  background: #e9eff4;
  color: #1e1e1e;
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}
.dark-mode-toggle {
  background: #e9eff4;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}
.clipboard-prompt:hover,
.dark-mode-toggle:hover {
  background: white;
}
.dark-mode-toggle span {
  display: block;
  line-height: 36px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
  margin-bottom: 20px;
  color: #2b3e50;
}
h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #2b3e50;
}
h3 {
  font-weight: 500;
}
.image-shadow {
  display: inline-block;
  padding: 8px;
  border-radius: 18px;
}
.image-shadow img {
  display: block;
  border-radius: 18px;
}
h1 .title {
  padding-right: 12px;
}
.song-picker {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 10px;
  margin: 30px auto;
  max-width: 700px;
  background: #5a8fce;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.song-item {
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 3px 0px;
  width: 100%;
  border-radius: 6px;
  text-align: left;
  background: #e9eff4;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: bold;
  color: #2b3e50;
}
.song-item:hover {
  background: #d2e0ee;
}
#fileInfo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  color: #2b3e50;
}
.favicon {
  height: 80px;
}
.album-info {
  margin: 5px;
}
.song {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-left: 5px solid #5a8fce;
}
.song-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0px;
  color: #2b3e50;
}
.song-title-spanish {
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 25px;
}
.song-credits {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}
.section {
  padding: 20px 0;
  border-top: 1px dashed #ccc;
}
.verse {
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: center;
  padding: 5px 0;
  text-align: center;
  background: #f4f8fb;
  border-radius: 4px;
  margin-bottom: 5px;
}
.verse span {
  display: inline-block;
  width: 100%;
  padding: 5px;
}
.original {
  text-align: right;
  font-weight: bold;
  color: #0d233e;
}
.spanish {
  text-align: left;
  font-style: italic;
  color: #375a7f;
}
.instrumental {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: #999;
  background: #f4f4f4;
  border-radius: 5px;
  margin: 10px 0;
}